
FireDB.xcworkspace/xcuserdata/admin.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
FireDB.xcworkspace/xcuserdata/admin.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
FireDB.xcodeproj/project.pbxproj
FireDB.xcodeproj/project.pbxproj
Pods/Pods.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/xcschememanagement.plist
*.xcbkptlist
*.pbxproj
